<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="com.canteen.dao.BookingMapper" >
  <resultMap id="BaseResultMap" type="com.canteen.pojo.Booking" >
    <id column="id" property="id" jdbcType="INTEGER" />
    <result column="uid" property="uid" jdbcType="INTEGER" />
    <result column="createtime" property="createtime" jdbcType="TIMESTAMP" />
    <result column="price" property="price" jdbcType="DOUBLE" />
    <result column="status" property="status" jdbcType="VARCHAR" />
    <result column="uname" property="uname" jdbcType="VARCHAR" />
    <result column="time" property="time" jdbcType="TIMESTAMP" />
  </resultMap>
  <sql id="Base_Column_List" >
    id, uid, createtime, price, status, uname, time
  </sql>
  <select id="selectByPrimaryKey" resultMap="BaseResultMap" parameterType="java.lang.Integer" >
    select 
    <include refid="Base_Column_List" />
    from booking
    where id = #{id,jdbcType=INTEGER}
  </select>
  <delete id="deleteByPrimaryKey" parameterType="java.lang.Integer" >
    delete from booking
    where id = #{id,jdbcType=INTEGER}
  </delete>
  <insert id="insert" parameterType="com.canteen.pojo.Booking" useGeneratedKeys="true" keyProperty="id">
    insert into booking (id, uid, createtime, 
      price, status, uname, 
      time)
    values (#{id,jdbcType=INTEGER}, #{uid,jdbcType=INTEGER}, #{createtime,jdbcType=TIMESTAMP}, 
      #{price,jdbcType=DOUBLE}, #{status,jdbcType=VARCHAR}, #{uname,jdbcType=VARCHAR}, 
      #{time,jdbcType=TIMESTAMP})
  </insert>
  <insert id="insertSelective" parameterType="com.canteen.pojo.Booking" >
    insert into booking
    <trim prefix="(" suffix=")" suffixOverrides="," >
      <if test="id != null" >
        id,
      </if>
      <if test="uid != null" >
        uid,
      </if>
      <if test="createtime != null" >
        createtime,
      </if>
      <if test="price != null" >
        price,
      </if>
      <if test="status != null" >
        status,
      </if>
      <if test="uname != null" >
        uname,
      </if>
      <if test="time != null" >
        time,
      </if>
    </trim>
    <trim prefix="values (" suffix=")" suffixOverrides="," >
      <if test="id != null" >
        #{id,jdbcType=INTEGER},
      </if>
      <if test="uid != null" >
        #{uid,jdbcType=INTEGER},
      </if>
      <if test="createtime != null" >
        #{createtime,jdbcType=TIMESTAMP},
      </if>
      <if test="price != null" >
        #{price,jdbcType=DOUBLE},
      </if>
      <if test="status != null" >
        #{status,jdbcType=VARCHAR},
      </if>
      <if test="uname != null" >
        #{uname,jdbcType=VARCHAR},
      </if>
      <if test="time != null" >
        #{time,jdbcType=TIMESTAMP},
      </if>
    </trim>
  </insert>
  <update id="updateByPrimaryKeySelective" parameterType="com.canteen.pojo.Booking" >
    update booking
    <set >
      <if test="uid != null" >
        uid = #{uid,jdbcType=INTEGER},
      </if>
      <if test="createtime != null" >
        createtime = #{createtime,jdbcType=TIMESTAMP},
      </if>
      <if test="price != null" >
        price = #{price,jdbcType=DOUBLE},
      </if>
      <if test="status != null" >
        status = #{status,jdbcType=VARCHAR},
      </if>
      <if test="uname != null" >
        uname = #{uname,jdbcType=VARCHAR},
      </if>
      <if test="time != null" >
        time = #{time,jdbcType=TIMESTAMP},
      </if>
    </set>
    where id = #{id,jdbcType=INTEGER}
  </update>
  <update id="updateByPrimaryKey" parameterType="com.canteen.pojo.Booking" >
    update booking
    set uid = #{uid,jdbcType=INTEGER},
      createtime = #{createtime,jdbcType=TIMESTAMP},
      price = #{price,jdbcType=DOUBLE},
      status = #{status,jdbcType=VARCHAR},
      uname = #{uname,jdbcType=VARCHAR},
      time = #{time,jdbcType=TIMESTAMP}
    where id = #{id,jdbcType=INTEGER}
  </update>
  
  <select id="selectAll" resultMap="BaseResultMap">
    select
    <include refid="Base_Column_List"/>
    from booking
    where status='待处理'
  </select>

  <select id="selectTakeaway" resultMap="BaseResultMap">
    select
    <include refid="Base_Column_List"/>
    from booking
    where status='外卖'
  </select>

  <update id="updateBookingStatus" parameterType="map" >
    update booking
    set status='已完成'
    where id=#{id}
  </update>
  <select id="selectMyBooking" parameterType="map" resultMap="BaseResultMap">
    select
    <include refid="Base_Column_List"/>
    from booking
    where uid=#{id}
    and id not in (select id from booking where status='外卖')
    order by createtime
  </select>
  <select id="selectMyOrder" parameterType="map" resultMap="BaseResultMap">
    select
    <include refid="Base_Column_List"/>
    from booking
    where uid=#{uid}
    and status='外卖'
  </select>
  <select id="salestatistics" resultType="com.canteen.pojo.Salestatistics">
    select month(createtime) as month,sum(price) as sum from booking GROUP BY month
  </select>
  <select id="selectUnresolve" resultMap="BaseResultMap">
    select
    <include refid="Base_Column_List"/>
    from booking
    where status='待处理'
  </select>
</mapper>